@demo:registry=http://127.0.0.1:8081/repository/npm-hosted/
//127.0.0.1:8081/repository/npm-hosted/:username=admin
//127.0.0.1:8081/repository/npm-hosted/:_password=bWl0dTEwMDI=     # base64 của "mitu1002"
//127.0.0.1:8081/repository/npm-hosted/:email=admin@example.org
//127.0.0.1:8081/repository/npm-hosted/:always-auth=true
